@import "tailwindcss";

/* Hide arrows from number inputs */
.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-arrows {
  appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
}